version: '3.4'

services:
  server:
    image: ${DOCKER_REGISTRY-}server
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    ports:
     - "5000:80"
    build:
      context: .
      dockerfile: Server/Dockerfile
    networks:
      internalNet:
        aliases:
          - server

  worker:
    image: ${DOCKER_REGISTRY-}worker
    build:
      context: Worker
      dockerfile: Dockerfile
    networks:
      internalNet:
        aliases:
          - worker

networks:
  internalNet:
    driver: bridge